/* Interview */

* {
	box-sizing: border-box;
}

body {
	background-color: #eaeaea;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
}


